name: Nix Flake Check
on:
  push:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
      - run: nix flake check
      - name: Eval NixOS configuration # Build すると GitHub ホステッドランナーのストレージを使い果たしてしまうっぽいのでしかたない
        run: nix eval .#nixosConfigurations.hikuo-desktop.config.system.build.toplevel --raw
      - name: Eval Home-Manager configuration
        run: nix eval .#homeConfigurations.hikuo.activationPackage --raw
      - name: check hikuo-macbook
        working-directory: machines/hikuo-macbook
        run: nix eval .#darwinConfigurations.hikuo-macbook.system --raw
